APP_ENV=development
APP_PORT=3135

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SECURE=false
DB_CA=cert/ca.pem
RAJAONGKIR_API_KEY=

REDIS_ADDR=localhost:6379
ORDER_TRACKING_CHECK_DELAY_SECONDS=300
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE_EMAIL=email_registration
RABBITMQ_QUEUE_NOTIFICATION=notifications
EMAIL_REGISTER_LINK=http://localhost:3902
PANEL_BASE_URL=http://localhost:3901
CUSTOMER_BASE_URL=http://localhost:3902
EMAIL_REGISTER_NAME=Ecommerce Panel
EMAIL_REGISTER_ADDRESS=no-reply@example.com

# Firebase Cloud Messaging
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

REDIS_WRITE=localhost
REDIS_READ=localhost
TRACER_END_POINT=localhost:4317
S3_AWS_REGION=
S3_ENDPOINT=
S3_BUCKET_NAME=public-bucket
S3_PUBLIC_BASE_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# DOKU SNAP
DOKU_SNAP_BASE_URL=https://api-sandbox.doku.com
DOKU_SNAP_CLIENT_ID=
DOKU_SNAP_CLIENT_SECRET=
DOKU_SNAP_PRIVATE_KEY=
DOKU_SNAP_PRIVATE_KEY_PATH=
DOKU_SNAP_MERCHANT_ID=
DOKU_SNAP_PARTNER_SERVICE_ID=
DOKU_SNAP_TERMINAL_ID=A01
DOKU_SNAP_CHANNEL_ID=H2H
DOKU_SNAP_CALLBACK_PATH=/api/doku/snap/callback
# KOMERCE
MIDTRANS_BASE_URL=
MIDTRANS_SECRET_KEY=
MIDTRANS_CALLBACK=/api/midtrans/snap/callback
# KOMERCE
KOMERCE_PAYMENT_API_KEY=
KOMERCE_PAYMENT_BASE_URL=
KOMERCE_PAYMENT_CALLBACK_URL=/api/komerce/callback
KOMERCE_PAYMENT_CALLBACK_API_KEY=/api/komerce/snap/callback


ORDER_TRACKING_CHECK_INTERVAL_SECONDS=360
ORDER_PAYMENT_EXPIRE_DELAY_SECONDS=120
BREVO_API_KEY=
MAILPIT_SMTP_ADDR=localhost:1025
EMAIL_REGISTER_NAME=
EMAIL_REGISTER_ADDRESS=
